.beer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.beer-card {
    display: flex;
    align-items: center;
    border: 3px solid black;
    width: 100%;
    max-width: 350px;
    border-radius: 3px;
    overflow: hidden;
    padding: 1rem;

    .beer-card__image {
    width: 75px;
    }

    .beer-card__content {
        padding: 1rem;
        display: flex;
        gap: 0.5rem;
        width: 100%;
        text-align: center;
    }

}