.beer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.beer-card {
    display: flex;
    align-items: center;
    border: 3px solid black;
    width: 100%;
    max-width: 350px;
    border-radius: 3px;
    overflow: hidden;
    padding: 1rem;
    margin: 0.2rem;
    

    .beer-card__image {
    width: 75px;
    }

    .beer-card__content {
        padding: 1rem;
        display: flex;
        gap: 0.5rem;
        width: 100%;
        text-align: center;
        flex-direction: column;
    }

    .beer-card__heading {
        margin-bottom: 1.5rem;
        font-size: 1.75rem;
    }

    .beer-card__information {
        margin-bottom: 0.5rem;
    }

}